@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

body {
  font-family: "Viaoda Libre", cursive;
}

.lista_itens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_item {
  border: 1px solid #eeeeee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
